{%extends 'base.html.twig'  %}

{% block body %}
<h1>Welcome to my application</h1>
    <p>Nouveaux Projets Pour Jeunes Noobs de la Team Dev du Gang Informatique de l'Ecole du 13e arrondissement de la Cité Phocéenne</p>
{% endblock %}